
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/all-stylesheets.css">
  <title>Mistari | Construction, Building HTML Template</title>
</head>
<body>

  <div class="top-contact">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-3 social-icons text-center text-md-left">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab  fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab  fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab  fa-skype"></i></a></li>
            <li><a href="#"><i class="fab  fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-9 col-md-9 phone d-none d-md-block">
          <ul>
            <li class="pl-0"><a href="#"><i class="fa fa-envelope pr-2"></i>Mail: info@abc.com</a></li>
            <li><a href="#"><i class="fa fa-phone pr-2"></i>Call Now: 0800  456  789</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="top-contact-2 d-none d-sm-none d-md-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="logo"><a href="index.html"><img src="/assets/images/logo/logo.png" alt=""></a></div>
        </div>
        <div class="col-lg-9 col-md-12 text-center text-lg-right">
          <ul>
            <li class="pr-4">
              <div class="icon"><i class="fa fa-clock"></i></div>
              <p>Mon – Fri: 10AM – 7PM;<br>Sat – Sun: 10AM – 3PM</p>
            </li>
            <li class="pr-4">
              <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
              <p>4578 Marmora Road,<br>Glasgow</p>
            </li>
            <li>
              <div class="button pr-4">
                <a class="no-fill-color" href="/login"><i aria-hidden="true" class="fa"></i>Login</a>
              </div>
            </li>
            <li>
              <div class="button pr-4">
                <a class="no-fill-color" href="/register"><i aria-hidden="true" class="fa"></i>Signup</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary mainmenu yamm" id="navigation">
            <a class="navbar-brand p-2 d-sm-block d-md-block d-lg-none d-xl-none" href="#"><img src="/assets/images/logo/logo-light.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown active">
                  <a class="nav-link" href="/index-01">Home</a>
            
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/aboutus">About us</a>
                
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    <li><a class="dropdown-item" href="/services">Services 01</a></li>
                    <li><a class="dropdown-item" href="/services">Services 02</a></li>

                  </ul>
                </li>
              
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user">Dashboard</a>
                </li>
              </ul>
              <div class="search column my-2 my-lg-0">
                <div id="myOverlay" class="search-overlay">
                  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                  <div class="overlay-content">
                    <form>
                      <input type="text" placeholder="Search.." name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </div>
                </div>
                <button class="openBtn" onclick="openSearch()"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mainmenu yamm" id="navigation">
          <a class="navbar-brand p-2 d-sm-block d-md-block d-lg-none d-xl-none" href="#"><img src="/assets/images/logo/logo-light.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <li><a class="dropdown-item" href="/index-01">Home 01</a></li>
                  <li><a class="dropdown-item" href="/index-02">Home 02</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                  <li><a class="dropdown-item" href="/aboutus">About us 01</a></li>
                  <li><a class="dropdown-item" href="/aboutus">About us 02</a></li>
                  <li><a class="dropdown-item" href="/aboutus">About us 03</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                  <li><a class="dropdown-item" href="/services">Services 01</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
                  <li><a class="dropdown-item" href="/portfolio">Portfolio 01</a></li>
                  <li class="nav-item dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio Detail Pages</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
                      <li><a class="dropdown-item" href="portfolio-detail-01.html">Detail Page 01</a></li>
                      <li><a class="dropdown-item" href="portfolio-detail-02.html">Detail Page 02</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown7">
                  <li><a class="dropdown-item" href="/blog">Blog 01</a></li>
                  <li class="nav-item dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Single Posts</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown8">
                      <li><a class="dropdown-item" href="blog-single-post.html">Standard Post</a></li>
                      <li><a class="dropdown-item" href="blog-single-slideshow-post.html">Slideshow Post</a></li>
                      <li><a class="dropdown-item" href="blog-single-video-post.html">Video Post</a></li>
                      <li><a class="dropdown-item" href="blog-single-full-width-post.html">FullWidth Post</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
            </ul>
            <div class="search column my-2 my-lg-0">
              <div id="myOverlay" class="search-overlay">
                <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                <div class="overlay-content">
                  <form>
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>
              <button class="openBtn" onclick="openSearch()"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <section class="contact-us form light-grey-bg" style="width:70%; margin-left:15%; padding:20px;">
    <!-- Send a Message Starts -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="herotext text-center" style="margin-top:20px;">
            <h2 style="font-size:x-large;">Let us help make your renovation easier  </h2>
          </div>
          <div class="line"></div>
          <form [formGroup]="renovationForm" >
            <div class="form-group">
              <label  style="font-weight:bold">Where's your renovation?</label>
              <div class="row" style="margin-left:3px;">
                <input formControlName="streetAddress" type="text" class="form-control" id="Address" aria-describedby="AddressHelp" placeholder="Address" >
               <div class="row" style="margin-top:2%;">
                <div class="col-sm-4">
                    <input formControlName="City" type="text" class="form-control" id="City" aria-describedby="CityHelp" placeholder="City" >
                  </div>
                 
                <div class="col-sm-4">
                    <input formControlName="State" type="text" class="form-control" id="Country" aria-describedby="CountryHelp" placeholder="State" >
                  </div>
                
                  <div class="col-sm-4">
                      <input formControlName="zip" type="number" class="form-control" id="ZIP" placeholder="ZIP Code" >
                    </div>
                </div>
                
              </div>
             
              </div>

          <div *ngIf="renovationForm.get('streetAddress').touched && renovationForm.get('streetAddress').invalid" style="color:red;">
              <div *ngIf="renovationForm.get('streetAddress').hasError('required')">
                Address is Required
              </div>
              <div *ngIf="renovationForm.get('streetAddress').hasError('pattern')">
                Address is Invalid
              </div>
          </div>
          <div *ngIf="renovationForm.get('City').touched && renovationForm.get('City').invalid" style="color:red;" >
              <div *ngIf="renovationForm.get('City').hasError('required')">
                City is Required
              </div>
              <div *ngIf="renovationForm.get('City').hasError('pattern')">
                City is Invalid
              </div>
          </div>
          <div *ngIf="renovationForm.get('State').touched && renovationForm.get('State').invalid" style="color:red;" >
              <div *ngIf="renovationForm.get('State').hasError('required')">
                State is Required
              </div>
              <div *ngIf="renovationForm.get('State').hasError('pattern')">
                State is Invalid
              </div>
          </div>
          <div *ngIf="renovationForm.get('zip').touched && renovationForm.get('zip').invalid" style="color:red;" >
              <div *ngIf="renovationForm.get('zip').hasError('required')">
                 Zip is Required
              </div>
              <div *ngIf="renovationForm.get('zip').hasError('pattern')">
                Zip is Invalid
              </div>
          </div>

                <div class="form-group" style="margin-top:50px">
                    <label style="font-weight:bold" for="closingdate">How long have you been leasing the space?
                      </label>
                      <div class="form-group">
                          <select formControlName="leaseduration"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                              <option *ngFor="let r of duration">{{r}}</option>
                  
                            </select>
                        </div>
                      </div>
                      <div *ngIf="renovationForm.get('leaseduration').touched && renovationForm.get('leaseduration').invalid" style="color:red;">
                        <div *ngIf="renovationForm.get('leaseduration').hasError('required')">
                          Lease Duration is Required
                        </div>
                    </div>

                      <div class="form-group">
                          <label style="font-weight:bold" for="desc">What would you like to renovate?

                            </label>
                            <div class="form-group">
                                <select formControlName="renovationOptions"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                    <option  *ngFor="let r of renovationOptions">{{r}}</option>
                        
                                  </select>
                              </div>
                        </div>
                        <div *ngIf="renovationForm.get('renovationOptions').touched && renovationForm.get('renovationOptions').invalid" style="color:red;">
                          <div *ngIf="renovationForm.get('renovationOptions').hasError('required')">
                            Renovation Options Required
                          </div>
                      </div>
                          <div class="form-group">
                              <label style="font-weight:bold" for="desc">Company website(optional)


                                </label>
                               
                                  <div class="form-group">
                              <input formControlName="url" type="text" class="form-control" id="desc"  placeholder=" e.g www.sweeten.com">
                            </div>
                            </div>

                            <div class="form-group">
                                <label style="font-weight:bold" for="desc">What's your project scope?
                                  </label>
                                <textarea formControlName="scope" type="text" class="form-control" id="desc"  placeholder="Example:
                               Demo all partitions
                                Level floors
                                Update electrical panel"></textarea>
                              </div>
                              <div *ngIf="renovationForm.get('scope').touched && renovationForm.get('scope').invalid" style="color:red;">
                                <div *ngIf="renovationForm.get('scope').hasError('required')">
                                 Required!
                                </div>
                                <div *ngIf="renovationForm.get('scope').hasError('pattern')">
                                  Invalid!
                                </div>
                            </div>

                              <div class="form-group">
                                  <label style="font-weight:bold" for="desc">What's the total square footage of your renovation?
                                    </label>
                                  <input formControlName="squarefoot" type="text" class="form-control" id="desc"  placeholder="1000 SQUARE FEET">
                                </div>
                                <div *ngIf="renovationForm.get('squarefoot').touched && renovationForm.get('squarefoot').invalid" style="color:red;">
                                  <div *ngIf="renovationForm.get('squarefoot').hasError('required')">
                                    Size is Required
                                  </div>
                                  <div *ngIf="renovationForm.get('squarefoot').hasError('pattern')">
                                    Size is Invalid
                                  </div>
                                  <div *ngIf="renovationForm.get('squarefoot').hasError('minlength')">
                                    Size is too small.
                                  </div>
                              </div>

                                <div class="form-group">
                                    <label style="font-weight:bold" for="desc">What style are you going for?

                                      </label>
                                      <div class="form-group">
                                          <select formControlName="style"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                              <option  *ngFor="let r of styles">{{r}}</option>
                                  
                                            </select>
                                        </div>
                                  </div>
                                  <div *ngIf="renovationForm.get('style').touched && renovationForm.get('style').invalid" style="color:red;">
                                    <div *ngIf="renovationForm.get('style').hasError('required')">
                                      Style is Required
                                    </div>
                                </div>

                                  <div class="form-group">
                                      <label style="font-weight:bold" for="desc">What's your overall budget range?

                                        </label>
                                        <div class="row">
                                          <div class="col-sm-4">
                                      <input formControlName="budget1" type="text" class="form-control" id="desc"  placeholder="$15000">
                                    </div>
                                    _
                                    <div class="col-sm-4">
                                        <input formControlName="budget2" type="text" class="form-control" id="desc"  placeholder="$25000">
                                      </div>
                                      </div>
                                    </div>
                                    <div *ngIf="renovationForm.get('budget1').touched && renovationForm.get('budget1').invalid" style="color:red;">
                                      <div *ngIf="renovationForm.get('budget1').hasError('required')">
                                       Budget is Required
                                      </div>
                                      <div *ngIf="renovationForm.get('budget1').hasError('pattern')">
                                        Budget is Invalid
                                      </div>
                                      <div *ngIf="renovationForm.get('budget1').hasError('minlength')">
                                        Budget is too less.
                                      </div>
                                  </div>
                                  <div *ngIf="renovationForm.get('budget2').touched && renovationForm.get('budget2').invalid" style="color:red;">
                                    <div *ngIf="renovationForm.get('budget2').hasError('required')">
                                     Budget is Required
                                    </div>
                                    <div *ngIf="renovationForm.get('budget2').hasError('pattern')">
                                      Budget is Invalid
                                    </div>
                                    <div *ngIf="renovationForm.get('budget2').hasError('minlength')">
                                      Budget is too less.
                                    </div>
                                </div>

                                    <div class="form-group">
                                        <label style="font-weight:bold" for="desc">What are your building's umbrella insurance requirements?

    
                                          </label>
                                          <div class="form-group">
                                              <select formControlName="req"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                                  <option  *ngFor="let r of requirements">{{r}}</option>
                                      
                                                </select>
                                            </div>
                                      </div>
                                      <div *ngIf="renovationForm.get('req').touched && renovationForm.get('req').invalid" style="color:red;">
                                        <div *ngIf="renovationForm.get('req').hasError('required')">
                                          Required!
                                        </div>
                                    </div>

                                      <div class="form-group">
                                          <label style="font-weight:bold" for="desc">Do you require a union contractor?
    
                                            </label>
                                            <div class="form-group">
                                                <select formControlName="question"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                                    <option  *ngFor="let r of question">{{r}}</option>
                                        
                                                  </select>
                                              </div>
                                        </div>
                                        <div *ngIf="renovationForm.get('question').touched && renovationForm.get('question').invalid" style="color:red;">
                                          <div *ngIf="renovationForm.get('question').hasError('required')">
                                            Required!
                                          </div>
                                      </div>
            
                                        <div class="form-group">
                                            <label  style="font-weight:bold">Name</label>
                                            <div class="row">
                                              <div class="col-sm-6">
                                                  <input formControlName="firstname" type="text" class="form-control" id="closingdate"  placeholder="FIRST NAME">
                      
                                              </div>
                                              <div class="col-sm-6">
                                                  <input formControlName="lastname" type="text" class="form-control" id="closingdate"  placeholder="LAST NAME">
                      
                                                </div>
                                             
                             
                                            </div>
                                            
                                        </div>
                                        <div *ngIf="renovationForm.get('firstname').touched && renovationForm.get('firstname').invalid" style="color:red;">
                                          <div *ngIf="renovationForm.get('firstname').hasError('required')">
                                           First Name is Required
                                          </div>
                                          <div *ngIf="renovationForm.get('firstname').hasError('pattern')">
                                              First Name is Invalid
                                          </div>
                                      </div>
                                        <div *ngIf="renovationForm.get('lastname').touched && renovationForm.get('lastname').invalid" style="color:red;">
                                          <div *ngIf="renovationForm.get('lastname').hasError('required')">
                                           Last Name is Required
                                          </div>
                                          <div *ngIf="renovationForm.get('lastname').hasError('pattern')">
                                            Last Name is Invalid
                                          </div>
                                      </div>  
                                        <div class="form-group">
                                            <label style="font-weight:bold" for="desc">Phone Number
              
                                              </label>
                                            <input formControlName="number" type="text" class="form-control" id="desc" placeholder="0340-8572643" >
                                          </div>
                                          <div *ngIf="renovationForm.get('number').touched && renovationForm.get('number').invalid" style="color:red;">
                                            <div *ngIf="renovationForm.get('number').hasError('required')">
                                             Phone Number is Required
                                            </div>
                                            <div *ngIf="renovationForm.get('number').hasError('pattern')">
                                              Phone Number is Invalid
                                            </div>
                                        </div>

                                          <div class="form-group">
                                              <label style="font-weight:bold" for="desc">When do you want to start the project?
                
                                                </label>
                                              <input formControlName="startdate" type="date" class="form-control" id="desc">
                                            </div>
                                            <div *ngIf="renovationForm.get('startdate').touched && renovationForm.get('startdate').invalid" style="color:red;">
                                              <div *ngIf="renovationForm.get('startdate').hasError('required')">
                                               Start Date is Required
                                              </div>
                                          </div>
                                            <div class="form-group">
                                                <label style="font-weight:bold" for="desc">Is there a deadline for project completion?
                  
                                                  </label>
                                                <input formControlName="deadline" type="date" class="form-control" id="desc">
                                              </div>
                                              <div *ngIf="renovationForm.get('deadline').touched && renovationForm.get('deadline').invalid" style="color:red;">
                                                <div *ngIf="renovationForm.get('deadline').hasError('required')">
                                                  Deadline is Required
                                                </div>
                                            </div>

                                              <div class="form-group">
                                                  <label style="font-weight:bold" for="desc">How did you hear about Sweeten?
            
                                                    </label>
                                                    <div class="form-group">
                                                        <select formControlName="info"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                                            <option  *ngFor="let r of info">{{r}}</option>
                                                
                                                          </select>
                                                      </div>
                                                </div>
                                                <div *ngIf="renovationForm.get('info').touched && renovationForm.get('info').invalid" style="color:red;">
                                                  <div *ngIf="renovationForm.get('info').hasError('required')">
                                                    Required!
                                                  </div>
                                              </div>
                                                <div class="form-group">
                                                    <label style="font-weight:bold" for="desc">Give your project a unique title (or use this generic one)

                      
                      
                                                      </label>
                                                     
                                                        <div class="form-group">
                                                    <input formControlName="projectname" type="text" class="form-control" id="desc"  placeholder="Renovate my Commercial Space">
                                                  </div>
                                                  </div>
                                                  <div *ngIf="renovationForm.get('projectname').touched && renovationForm.get('projectname').invalid" style="color:red;">
                                                    <div *ngIf="renovationForm.get('projectname').hasError('required')">
                                                      Required!
                                                    </div>
                                                    <div *ngIf="renovationForm.get('projectname').hasError('pattern')">
                                                      Invalid!
                                                    </div>
                                                </div>
                                                            
    
  


                      <div class="form-group button" style="margin-left:40%; margin-top:5%;" >
                          <a class="no-fill-color" style="cursor:pointer;" (click)="post1()"><i aria-hidden="true" class="fa"></i>POST PROJECT</a>
                        </div>
              
          </form>
        </div>
      </div>
    </div>