
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/all-stylesheets.css">
    <title>Mistari | Construction, Building HTML Template</title>
  </head>
  <body>
  
    <div class="top-contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 social-icons text-center text-md-left">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab  fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab  fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fab  fa-skype"></i></a></li>
              <li><a href="#"><i class="fab  fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-9 col-md-9 phone d-none d-md-block">
            <ul>
              <li class="pl-0"><a href="#"><i class="fa fa-envelope pr-2"></i>Mail: info@abc.com</a></li>
              <li><a href="#"><i class="fa fa-phone pr-2"></i>Call Now: 0800  456  789</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="top-contact-2 d-none d-sm-none d-md-none d-lg-block d-xl-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3">
            <div class="logo"><a href="index.html"><img src="/assets/images/logo/logo.png" alt=""></a></div>
          </div>
          <div class="col-lg-9 col-md-12 text-center text-lg-right">
            <ul>
              <li class="pr-4">
                <div class="icon"><i class="fa fa-clock"></i></div>
                <p>Mon – Fri: 10AM – 7PM;<br>Sat – Sun: 10AM – 3PM</p>
              </li>
              <li class="pr-4">
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                <p>4578 Marmora Road,<br>Glasgow</p>
              </li>
              <li>
                <div class="button pr-4">
                  <a class="no-fill-color" href="/login"><i aria-hidden="true" class="fa"></i>Login</a>
                </div>
              </li>
              <li>
                <div class="button pr-4">
                  <a class="no-fill-color" href="/register"><i aria-hidden="true" class="fa"></i>Signup</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-expand-lg navbar-dark bg-primary mainmenu yamm" id="navigation">
							<a class="navbar-brand p-2 d-sm-block d-md-block d-lg-none d-xl-none" href="#"><img src="/assets/images/logo/logo-light.png" alt=""></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
									<li class="nav-item dropdown active">
										<a class="nav-link" href="/index-01">Home</a>
							
									</li>
									<li class="nav-item ">
										<a class="nav-link" href="/aboutus">About us</a>
									
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
											<li><a class="dropdown-item" href="/services">Services 01</a></li>
											<li><a class="dropdown-item" href="/services">Services 02</a></li>
	
										</ul>
									</li>
								
									<li class="nav-item">
										<a class="nav-link" href="/contact">Contact us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user">Dashboard</a>
                  </li>
								</ul>
								<div class="search column my-2 my-lg-0">
									<div id="myOverlay" class="search-overlay">
										<span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
										<div class="overlay-content">
											<form>
												<input type="text" placeholder="Search.." name="search">
												<button type="submit"><i class="fa fa-search"></i></button>
											</form>
										</div>
									</div>
									<button class="openBtn" onclick="openSearch()"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
    <section class="contact-us form light-grey-bg" style="width:70%; margin-left:15%; padding:20px;">
			<!-- Send a Message Starts -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="herotext text-center" >
              <h2 style="font-size:x-large;">Scope Of Project! </h2>
              <h1>What you want to do.</h1>
            </div>
						<div class="line"></div>
						<form [formGroup]="renovationForm" >
                  

                  <div class="form-group" style="margin-top:50px">
                      <label style="font-weight:bold" for="closingdate">What would you like to renovate?
                        </label>
                        <div class="form-group">
                            <select formControlName="renovation"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                <option  *ngFor="let r of renovation">{{r}}</option>
                    
                              </select>
                          </div>
                        </div>
                        <div *ngIf="renovationForm.get('renovation').touched && renovationForm.get('renovation').invalid" style="color:red;">
                          <div *ngIf="renovationForm.get('renovation').hasError('required')">
                            Renovation is Required
                          </div>
                      </div>

                        <div class="form-group">
                            <label style="font-weight:bold" for="desc">In a sentence or two, what's the reason you're renovating?</label>
                            <textarea formControlName="reason" type="text" class="form-control" id="desc"  placeholder="Design is outdated"></textarea>
                          </div>
                          <div *ngIf="renovationForm.get('reason').touched && renovationForm.get('reason').invalid" style="color:red;">
                            <div *ngIf="renovationForm.get('reason').hasError('required')">
                             Required!
                            </div>
                            <div *ngIf="renovationForm.get('reason').hasError('pattern')">
                              Invalid!
                            </div>
                        </div>

                          <div class="form-group">
                              <label style="font-weight:bold" for="desc">What's your project scope?
                                </label>
                              <textarea formControlName="scope" type="text" class="form-control" id="desc"  placeholder="Kitchen e.t.c"></textarea>
                            </div>
                            <div *ngIf="renovationForm.get('scope').touched && renovationForm.get('scope').invalid" style="color:red;">
                              <div *ngIf="renovationForm.get('scope').hasError('required')">
                               Required!
                              </div>
                              <div *ngIf="renovationForm.get('scope').hasError('pattern')">
                                Invalid!
                              </div>
                          </div>

                            <div class="form-group">
                                <label style="font-weight:bold" for="desc">What's the total square footage of your renovation?
                                  </label>
                                <input formControlName="squarefoot" type="text" class="form-control" id="desc"  placeholder="1000 Square Feet">
                              </div>
                              <div *ngIf="renovationForm.get('squarefoot').touched && renovationForm.get('squarefoot').invalid" style="color:red;">
                                <div *ngIf="renovationForm.get('squarefoot').hasError('required')">
                                  Size is Required
                                </div>
                                <div *ngIf="renovationForm.get('squarefoot').hasError('pattern')">
                                  Size is Invalid
                                </div>
                                <div *ngIf="renovationForm.get('squarefoot').hasError('minlength')">
                                  Size is too small.
                                </div>
                            </div>

                              <div class="form-group">
                                  <label style="font-weight:bold" for="desc">How premium would you like your materials and finishes to be?
                                    </label>
                                    <div class="form-group">
                                        <select formControlName="premium"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                            <option  *ngFor="let r of premium">{{r}}</option>
                                
                                          </select>
                                      </div>
                                </div>
                                <div *ngIf="renovationForm.get('premium').touched && renovationForm.get('premium').invalid" style="color:red;">
                                  <div *ngIf="renovationForm.get('premium').hasError('required')">
                                    Premium is Required
                                  </div>
                              </div>
                                <div class="form-group">
                                    <label style="font-weight:bold" for="desc">What style are you going for?

                                      </label>
                                      <div class="form-group">
                                          <select formControlName="style"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                              <option  *ngFor="let r of styles">{{r}}</option>
                                  
                                            </select>
                                        </div>
                                  </div>
                                  <div *ngIf="renovationForm.get('style').touched && renovationForm.get('style').invalid" style="color:red;">
                                    <div *ngIf="renovationForm.get('style').hasError('required')">
                                      Style is Required
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight:bold" for="desc">What services are you hiring for?
                                      </label>
                                      <div class="form-group">
                                          <select formControlName="service"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                              <option  *ngFor="let r of service">{{r}}</option>
                                  
                                            </select>
                                        </div>
                                  </div>
                                  <div *ngIf="renovationForm.get('service').touched && renovationForm.get('service').invalid" style="color:red;">
                                    <div *ngIf="renovationForm.get('service').hasError('required')">
                                      Service is Required
                                    </div>
                                </div>

                                  <div class="form-group">
                                      <label style="font-weight:bold" for="desc">Are you working with an architect or designer to prepare drawings for this project?

                                        </label>
                                        <div class="form-group">
                                            <select formControlName="question"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                                <option  *ngFor="let r of question">{{r}}</option>
                                    
                                              </select>
                                          </div>
                                    </div>
                                    <div *ngIf="renovationForm.get('question').touched && renovationForm.get('question').invalid" style="color:red;">
                                      <div *ngIf="renovationForm.get('question').hasError('required')">
                                        Answer is Required
                                      </div>
                                  </div>

                                    <div class="form-group">
                                        <label style="font-weight:bold" for="desc">If available, please provide a link to your architectural drawings (optional)
                                          </label>
                                        <input formControlName="url" type="text" class="form-control" id="desc"  placeholder="www.yahoo.com">
                                      </div>
                                      <div *ngIf="renovationForm.get('url').touched && renovationForm.get('url').invalid"  style="color:red;" >
                                        <div *ngIf="renovationForm.get('url').hasError('required')">
                                          URL is Required
                                        </div>
                                        <div *ngIf="renovationForm.get('url').hasError('pattern')">
                                          URL is Invalid
                                        </div>
                                    </div>


                                  <div class="form-group">
                                      <label style="font-weight:bold" for="desc">What's your overall budget range?

                                        </label>
                                        <div class="row">
                                          <div class="col-sm-4">
                                      <input formControlName="budget1" type="text" class="form-control" id="desc"  placeholder="$15000">
                                    </div>
                                    _
                                    <div class="col-sm-4">
                                        <input formControlName="budget2" type="text" class="form-control" id="desc"  placeholder="$25000">
                                      </div>
                                      </div>
                                    </div>
                                    <div *ngIf="renovationForm.get('budget1').touched && renovationForm.get('budget1').invalid" style="color:red;">
                                      <div *ngIf="renovationForm.get('budget1').hasError('required')">
                                       Budget is Required
                                      </div>
                                      <div *ngIf="renovationForm.get('budget1').hasError('pattern')">
                                        Budget is Invalid
                                      </div>
                                      <div *ngIf="renovationForm.get('budget1').hasError('minlength')">
                                        Budget is too less.
                                      </div>
                                  </div>
                                  <div *ngIf="renovationForm.get('budget2').touched && renovationForm.get('budget2').invalid" style="color:red;">
                                    <div *ngIf="renovationForm.get('budget2').hasError('required')">
                                     Budget is Required
                                    </div>
                                    <div *ngIf="renovationForm.get('budget2').hasError('pattern')">
                                      Budget is Invalid
                                    </div>
                                    <div *ngIf="renovationForm.get('budget2').hasError('minlength')">
                                      Budget is too less.
                                    </div>
                                </div>

                                  <div class="form-group">
                                      <label style="font-weight:bold" for="desc">What helped you set your budget?

                                        </label>
                                        <div class="form-group">
                                            <select formControlName="help"  type="text" class="form-control" id="Domain" aria-describedby="DomainHelp">
                                                <option  *ngFor="let r of help">{{r}}</option>
                                    
                                              </select>
                                          </div>
                                    </div>
                                    <div *ngIf="renovationForm.get('help').touched && renovationForm.get('help').invalid" style="color:red;">
                                      <div *ngIf="renovationForm.get('help').hasError('required')">
                                        Answer is Required
                                      </div>
                                  </div>
                                    
                                    <div class="form-group button" style="margin-left:45%; margin-top:5%;">
                                        <a class="no-fill-color"  (click)="post2()"><i aria-hidden="true" class="fa"></i>NEXT</a>
                                      </div>
								
						</form>
					</div>
				</div>
			</div>