<div class="panel-header panel-header-sm" style="height:200px;">
    <h1 style="text-align:center;color:white;">View Assigned Project</h1>
</div>
<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Assigned Projects</h4>
            <p *ngIf="showMessage==true" style="color:red; text-align:center;">No Project Assigned</p>

          </div>
          <div class="card-body"  *ngIf="showdiv==true">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                   Project Name
                  </th>
                  <th>
                    Location
                  </th>
                  <th>
                    Renovation Type
                  </th>
                  <th>
                     
                 </th>
                </thead>
                <tbody>
                  <tr *ngFor="let s of data; let i=index;"  >
            
                         
                    <td>
                     Home Renovation Project
                    </td>
                    <td>
                    Street Address: {{appinfo[i].streetAddress}}  Apt:{{appinfo[i].Apt}}  Zip:{{appinfo[i].zip}}
                    </td>
                    <td>
                     {{appinfo[i].renovation}}
                   </td>
                    <td>
                      <button class="btn btn-secondary" (click)="viewprojects(appinfo[i]._id)">
                        view project detail
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>