<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/all-stylesheets.css">
    <link rel="stylesheet" href="/assets/js/swiper/css/swiper.min.css">    
    <title>Mistari | Construction, Building HTML Template</title>
  </head>
  <body>
    <div class="top-contact-2 d-none d-sm-none d-md-none d-lg-block d-xl-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3">
            <div class="logo"><a href="index.html"><img src="/assets/images/logo/logo.png" alt=""></a></div>
          </div>
        </div>
      </div>
    </div>
  <div class="row" style="margin-top:100px; padding:20px; background-color:#eff0f2;border-radius:15px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2); width:50%; margin-left:350px;">
    <div class="col-sm-12" style="text-align:center; font-size:larger;">
      Login
    </div>
  
    <div class="col-sm-12">
      <form [formGroup]="loginForm">
          <div *ngIf="showError">
              <p style="color:red; text-align:center" >Incorrect Username or Password</p>
            </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
          <div *ngIf="loginForm.get('email').hasError('required')">
            <p  style="color:red"> *Email is Required</p>
           </div>
          <div *ngIf="loginForm.get('email').hasError('email')">
           <p  style="color:red"> *Invalid email</p>
          </div>
      </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input formControlName="password" type="password" class="form-control" id="passwordInput" aria-describedby="passHelp" placeholder="password">
          <small id="passHelp" class="form-text text-muted"></small>
        </div>
        <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
          <div *ngIf="loginForm.get('password').hasError('required')">
           <p style="color:red"> *Password is Required</p>
          </div>
          <div *ngIf="loginForm.get('password').hasError('maxlength')">
           <p style="color:red"> *Enter less than 12 digits</p>
          </div>
          <div *ngIf="loginForm.get('password').hasError('minlength')">
            <p style="color:red"> *Enter more than 8 digits</p>
           </div>
      </div>
  
        <div class="row form-group" style="text-align:center;">
          <div class="col-sm-3">
  
          </div>
            <div class="col-sm-6 button">
              <a class="no-fill-color" style="cursor:pointer" (click)="login()"><i aria-hidden="true" class="fa"></i>LOGIN</a>
            </div>
            
            <div class="col-sm-3">
  
            </div>
        </div>
      </form>
    </div>
  </div>
  